
.navbar{
    height: 70px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    * { vertical-align: middle; }
    .nav {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        a::after {
            content: "";
            display: block;
            height: 5px;
            width: 0;
            border-radius: 16px;
            background: #6e00fd;
            bottom: 1px;
            z-index: -1;
            transition: all 0.3s ease-out 0s;
          }
      
        a:hover::after {
            width: 100%;
          }
    }
}
